<a href="https://colab.research.google.com/github/eruiz1996/Diplomado/blob/main/Clase2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/salaries.csv')

In [ ]:
df.sort_values(['work_year']).head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
3958,2020,MI,FT,Data Scientist,60000,GBP,76958,GB,100,GB,S
4062,2020,SE,FT,Big Data Engineer,100000,EUR,114047,PL,100,GB,S
4064,2020,EN,FT,Data Science Consultant,423000,INR,5707,IN,50,IN,M
4065,2020,MI,FT,Lead Data Engineer,56000,USD,56000,PT,100,US,M
4068,2020,MI,FT,Product Data Analyst,450000,INR,6072,IN,100,IN,L

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4134 entries, 0 to 4133
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           4134 non-null   int64
 1   experience_level    4134 non-null   object
 2   employment_type     4134 non-null   object
 3   job_title           4134 non-null   object
 4   salary              4134 non-null   int64
 5   salary_currency     4134 non-null   object
 6   salary_in_usd       4134 non-null   int64
 7   employee_residence  4134 non-null   object
 8   remote_ratio        4134 non-null   int64
 9   company_location    4134 non-null   object
 10  company_size        4134 non-null   object
dtypes: int64(4), object(7)
memory usage: 355.4+ KB

In [ ]:
df['work_year'] = df['work_year'].astype(str)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4134 entries, 0 to 4133
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           4134 non-null   object
 1   experience_level    4134 non-null   object
 2   employment_type     4134 non-null   object
 3   job_title           4134 non-null   object
 4   salary              4134 non-null   int64
 5   salary_currency     4134 non-null   object
 6   salary_in_usd       4134 non-null   int64
 7   employee_residence  4134 non-null   object
 8   remote_ratio        4134 non-null   int64
 9   company_location    4134 non-null   object
 10  company_size        4134 non-null   object
dtypes: int64(3), object(8)
memory usage: 355.4+ KB

In [ ]:
from pandas.api.types import CategoricalDtype

In [ ]:
categorias = CategoricalDtype(categories = ['EN', 'MI', 'SE', 'EX'],
                              ordered = True)

In [ ]:
df['experience_level'] = df['experience_level'].astype(categorias)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4134 entries, 0 to 4133
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           4134 non-null   object
 1   experience_level    4134 non-null   category
 2   employment_type     4134 non-null   object
 3   job_title           4134 non-null   object
 4   salary              4134 non-null   int64
 5   salary_currency     4134 non-null   object
 6   salary_in_usd       4134 non-null   int64
 7   employee_residence  4134 non-null   object
 8   remote_ratio        4134 non-null   int64
 9   company_location    4134 non-null   object
 10  company_size        4134 non-null   object
dtypes: category(1), int64(3), object(7)
memory usage: 327.3+ KB

In [ ]:
df.value_counts('employment_type')

employment_type
FT    4093
PT      17
CT      13
FL      11
dtype: int64

Sacar porcentaje de cada uno (normalizar)

In [ ]:
df.value_counts('employment_type', normalize = True)

employment_type
FT    0.990082
PT    0.004112
CT    0.003145
FL    0.002661
dtype: float64

In [ ]:
df['same_country'] = df.apply(lambda x: x.employee_residence == x.company_location,
                              axis = 1)
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,same_country
0,2023,MI,FT,AWS Data Architect,258000,USD,258000,US,100,US,L,True
1,2023,SE,FT,Data Scientist,225000,USD,225000,US,0,US,M,True
2,2023,SE,FT,Data Scientist,156400,USD,156400,US,0,US,M,True
3,2023,SE,FT,Data Engineer,190000,USD,190000,US,100,US,M,True
4,2023,SE,FT,Data Engineer,150000,USD,150000,US,100,US,M,True

In [ ]:
df['same_country'].value_counts()

True     4029
False     105
Name: same_country, dtype: int64

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import plotly.express as px

In [ ]:
df1 = pd.Series(df.value_counts('experience_level'), name = 'Count')
df1.head()

experience_level
SE    2791
MI     879
EN     339
EX     125
Name: Count, dtype: int64

In [ ]:
fig = px.bar(df1, x = df1.index, y = 'Count', text = 'Count')
fig

In [ ]:
fig = px.bar(df1, x = df1.index, y = 'Count', text = 'Count')
fig.update_layout(
    xaxis_title = 'Nivel',
    yaxis_title = 'Conteo',
)

In [ ]:
df1 = pd.DataFrame(df.groupby(['work_year'])['experience_level'].\
                   value_counts()).rename(columns = {'experience_level':'Count'}).\
                   reset_index()
df1

   work_year experience_level  Count
0       2020               MI     33
1       2020               EN     23
2       2020               SE     18
3       2020               EX      3
4       2021               MI     92
5       2021               SE     74
6       2021               EN     55
7       2021               EX     10
8       2022               SE   1138
9       2022               MI    364
10      2022               EN    125
11      2022               EX     41
12      2023               SE   1561
13      2023               MI    390
14      2023               EN    136
15      2023               EX     71

In [ ]:
fig = px.bar(df1, x = 'work_year', y = 'Count')
fig

In [ ]:
df1 = pd.DataFrame(df.groupby(['work_year', 'company_size', 'experience_level'],
                              observed = True).salary_in_usd.mean()).\
                              reset_index()
df1.head()

  work_year company_size experience_level  salary_in_usd
0      2020            L               EN   78525.333333
1      2020            L               MI   77648.294118
2      2020            L               SE  157633.000000
3      2020            L               EX  202416.500000
4      2020            M               EN   22810.666667

In [ ]:
fig = px.scatter(df1, x = 'work_year', y = 'salary_in_usd', 
                 color = 'experience_level', symbol = 'company_size')
fig

In [ ]:
df1 = pd.DataFrame(df.groupby(['work_year']).remote_ratio.mean()).\
                              reset_index()
df1.head()

In [ ]:
df.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size', 'same_country'],
      dtype='object')